<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>
    <div id="title">환율 계산</div>
    <div class="mt-2">
        송금국가 : 미국(USD)
    </div>
    <div>
        수취국가: <select id="country" onchange="changeSelection()">
                    <option value="KRW" selected>한국</option>
                    <option value="JPY">일본</option>
                    <option value="PHP">필리핀</option>
                </select>
    </div>
    <div>
        환율: <span id="money" th:text="${#numbers.formatDecimal(money,0, 'COMMA',2,'POINT')}"></span> <span id="rateCurrency" th:text="${currency}"></span>
    </div>
    <div>
        송금액: <input type="text" id="transferMoney"> USD
    </div>
    <div>
        <input type="button" id="submit" value="submit" onclick="submit()">
    </div>
    <div>
        <span id="exchangeResultText"></span>
    </div>

    <script type="text/javascript" src="/js/exchange.js"></script>
</body>
</html>